<div class="row">
	<div class="col-md-offset-2">
		<span class="crudTitle">Hastane Güncelleme</span>
	</div>
	<div class="col-md-offset-2 col-md-8">
		<form class="form-horizontal" action="/account/signIn" method="post">
			<div class="form-group">
				<div class="col-sm-12">
					<input type="text" class="form-control" id="name" placeholder="Hastane adı" name="Name">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-12">
					<input type="text" class="form-control" id="phoneNumber" placeholder="Telefon numarası" name="PhoneNumber">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-12">
					<select class="form-control" id="cities">
					</select>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-12">
					<select class="form-control" id="towns">
					</select>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-12">
					<button type="submit" class="btn btn-large btn-block btn-info">Güncelle</button>
				</div>
			</div>
		</form>
	</div>
</div>

<script>
	$.ajax({
		type: "Post",
		url: "/user/cities",
		success: function (response) {
			$.each(response, function (key, value) {
				$("#cities").append("<option value= " + value.Id + ">" + value.Name + "</option>");
			});
		},
		error: function (err) {
			alert("Hata" + err);
		}
	});

	$("#cities").change(function () {
		$.ajax({
			type: "Post",
			url: "/user/towns/?CityId=" + $(this).val(),
			beforeSend: function () {
				$("#towns").empty();
			},
			success: function (response) {
				if (response.length == 0) {
					$("#towns").append("<option value=-1>İlçe bulunamadı</option>");
				}
				else {
					$.each(response, function (key, value) {
						$("#towns").append("<option value= " + value.Id + ">" + value.Name + "</option>");
					});
				}
			},
			error: function (err) {
				alert("Hata" + err);
			}
		});
	});


	$.ajax({
		type: "Post",
		url: "/user/hospital/?id=" + btnID,
		success: function (response) {
			if (response != null) {
				$("#name").val(response.Name);
				$("#phoneNumber").val(response.PhoneNumber);
				$("select[id=cities]").val(response.Town.CityId);

				$.ajax({
					type: "Post",
					url: "/user/towns/?CityId=" + response.Town.CityId,
					beforeSend: function () {
						$("#towns").empty();
					},
					success: function (responseCity) {
						if (responseCity.length == 0) {
							$("#towns").append("<option value=-1>İlçe bulunamadı</option>");
						}
						else {
							$.each(responseCity, function (key, value) {
								$("#towns").append("<option value= " + value.Id + ">" + value.Name + "</option>");
							});

							$("select[id=towns]").val(response.Town.Id);
						}
					},
					error: function (err) {
						alert("Hata" + err);
					}
				});

			}
			else {
				alert("Response null");
			}

		},
		error: function (err) {
			alert("Hata" + err);
		}
	});	
</script>
