
@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Main</title>
	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
	<link href="~/Content/fystrap/fyStrap.css" rel="stylesheet" />
	<link href="~/Content/EasyTableFilter/easyTableFilter.css" rel="stylesheet" />
	<link href="~/Content/ProjectStyles/crudModal.css" rel="stylesheet" />
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				@Html.Partial("~/Views/Partial/NavbarSignInHeader.cshtml")
			</div>
		</div>
		<div class="row" style="margin-bottom:100px;">
			@Html.Partial("~/Views/Partial/UserSideNavbar.cshtml")
		</div>
		@Html.Partial("~/Views/Partial/CrudModal.cshtml")
	</div>
</body>
</html>

<script src="~/Scripts/jquery-1.9.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/fyStrap/fyStrap.js"></script>