<div class="popover__wrapper">
    <div class="push popover__content">
        <div class="exitRow">
            <span class="exit" id="close">X</span>
        </div>
        <div class="row">
            <div class="col-md-12 space">
                <button class="btn btn-warning btn-block" id="btnPassiveActive">Pasif</button>
            </div>
            <div class="col-md-12 space">
                <button class="btn btn-info btn-block" id="btnUpdate">Güncelle</button>
            </div>
            <div class="col-md-12">
                <button class="btn btn-danger btn-block" id="btnDelete">Sil</button>
            </div>
			<span id="list-id"></span>
        </div>
    </div>
</div>

<style>
    .exitRow{
        text-align: right;
        margin-bottom: 8px;
    }

    .exit{
        color: #f8f6f6;
        background-color: #d9534f;
        padding: 5px;
        border-radius: 4px;
        font-weight: 700;
        cursor: pointer;
    }

    .exit:hover{
        background-color: #ae1e19;
    }

    .popover__wrapper {
        position: relative;
        margin-top: 1.5rem;
        display: inline-block;
    }

    .popover__content {
        display: none;
        position: fixed;
        left: 47px;
        transform: translate(0,10px);
        background-color: #fff;
        padding: 1.5rem;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
        width: 200px;
    }

    .popover__content:before {
        position: absolute;
        z-index: -1;
        content: '';
        top: -26px;
        left: 1px;
        border-style: solid;
        border-width: 7px 0px 20px 25px;
        border-color: transparent transparent #aaa8a8 transparent;
        transition-duration: 0.3s;
        transition-property: transform;
    }

    .popover__message {
        text-align: center;
    }

    .space{
        margin-bottom: 5px;
    }
</style>