<div id="processModal" class="modal">
	<div class="modal-content">
		<div class="bg-line"></div>
		<span class="close">&times;</span>
		<div id="crud-content">
			<div class="crud-modal-loading">
				<img src="~/Assets/gifs/Blocks.gif" />
			</div>
		</div>
	</div>
</div>


