<nav class="navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Hastane Otomasyonu</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/About/About" target="_blank">Hakkımızda</a></li>           
            <li><a href="/Contact/Contact" target="_blank">İletişim</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="javascript:toggleForm()"><span class="glyphicon glyphicon-user"></span><span id="signInOrOutMenu"> Kayıt ol</span></a></li>
        </ul>
    </div>
</nav>
