
@{
	Layout = null;
}

@model List<DAL.ORM.Entity.Appoinment>

<div class="row">
	
</div>
<div class="table-container" style="margin-top:35px;">
	<table class="table table-filter">
		<tbody>
			@foreach (var item in Model)
			{
				<tr data-status="pagado">
					<td>
						
					</td>
					<td>
						<a href="javascript:;" class="star">
							<i class="glyphicon glyphicon-star"></i>
						</a>
					</td>
					<td>
						<div class="media">
							<a href="#" class="pull-left">
								<img src="~/Assets/images/png/policlinic.png" width="45px" />
							</a>
							<div class="media-body">
								<span class="media-meta pull-right">@item.InsertDate</span>
								<h4 class="title">
									@item.Name
									<span class="pull-right pagado">@item.Staff.Name</span>
								</h4>
								<p class="summary">@item.Policlinic.Name</p>
							</div>
						</div>
					</td>
				</tr>
            }
		</tbody>
	</table>
</div>