<div class="row">
	<div class="col-md-offset-2">
		<span class="crudTitle">Ünvan Güncelleme</span>
	</div>
	<div class="col-md-offset-2 col-md-8">
		<form class="form-horizontal" action="/title/update" method="post">
			<input type="hidden" name="id" value="" id="id" />
			<div class="form-group">
				<div class="col-sm-12">
					<input type="text" class="form-control" id="name" placeholder="Ünvan adı" name="Name">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-12">
					<input type="text" class="form-control" id="staffType" placeholder="Personel türü" name="StaffType">
				</div>
			</div>			
			<div class="form-group">
				<div class="col-sm-12">
					<button type="submit" class="btn btn-large btn-block btn-info">Güncelle</button>
				</div>
			</div>
		</form>
	</div>
</div>

<script>
	$.ajax({
		type: "Post",
		url: "/title/title/?id=" + btnID,
		success: function (response) {
			if (response != null) {
				$("#id").val(btnID);
				$("#name").val(response.Name);
				$("#staffType").val(response.StaffType);			
			}
			else {
				alert("Response null");
			}

		},
		error: function (err) {
			alert("Hata 100(Title - Update) : " + err);
		}
	});
</script>